Resources id & object update

## What is your proposed change?

Proposal to create a `resources.id` to help with flattening the data (Description: 'An identifier for this dataset version. This should be internally unique.'). It is also likely that `resources.title` will be unique for each resource within a dataset. [Link to discussion](https://docs.google.com/spreadsheets/d/1zJjNjiZBf5Tk06NnYkBMJxC0d9Q1QfEhla4N57jGc2U/edit?disco=AAAAs6ZkUUY)

 Along with the proposed `resources.id` field it is also proposed to add a `resources.description` and a `resources.period` field and to remove `aggregation_level` (which is not generally applicable - [link](https://docs.google.com/spreadsheets/d/1zJjNjiZBf5Tk06NnYkBMJxC0d9Q1QfEhla4N57jGc2U/edit?disco=AAAAuOxeDr8))

## Current resources fields

```
"name": {
  "type": "string",
  "description": "Name of linked resource"
},
"aggregation_type": {
  "type": "string",
  "description": "Level of data representation"
},
"format": {
  "type": "string",
  "description": "Format of resource"
},
"h-res": {
  "type": "string",
  "description": "Horizontal resolution in meters (raster data only)"
},
"epsg": {
  "type": "string",
  "description": "Reference coordinate system (default: 4326)"
},
"url": {
  "type": "string",
  "description": "URL of linked resource"
}
```


## Proposed resources fields

```

"id": {
  "title": "Resource identifier",
  "type": "string",
  "description": "An identifier for this dataset version. This should be internally unique."
},
"title": {
  "title": "Resource title",
  "type": "string",
  "description": "A title for this dataset."
},
"description": {
  "title": "Resource description",
  "type": "string",
  "description": "Additional description of the dataset version not already covered by the other resource fields."
},
"format": {
  "title": "Format",
  "type": "string",
  "description": "The file format of the dataset version using the file extension code."
},
"horizontal_resolution": {
  "title": "Horizontal resolution",
  "type": "number",
  "description": "The horizontal resolution of the dataset version given in meters. This field is only applicable to raster data."
},
"coordinate_system": {
  "title": "Reference coordinate system",
  "type": "string",
  "description": "The reference co-ordinate system of the dataset version, using the EPSG codelist (https://epsg.org)."
},
"url": {
  "title": "Url",
  "type": "string",
  "description": "The web address the dataset version can be downloaded from.",
  "format": "uri"
},
"period": {
  "title": "Resource period",
  "type": "string",
  "description": "The period of time covered by this dataset version given as a year or range of years."
}
```


I'm unsure about the use of the term 'resource' here. If I understood correctly:

* the top-level object in the RDLS schema is a (risk) dataset
* we're proposing that each dataset can have many versions, each known as a resource
* most properties exist at the resource level

In DCAT, the hierarchy goes something like this:

- [**Catalog**](https://www.w3.org/TR/vocab-dcat/#Class:Catalog): A curated collection of metadata about resources:
  - [**Resource**](https://www.w3.org/TR/vocab-dcat/#Class:Resource): Resource published or curated by a single agent, which can be either:
    - a [**Data service**](https://www.w3.org/TR/vocab-dcat/#Class:Data_Service): A collection of operations that provides access to one or more datasets or data processing functions; or
    - a [**Dataset**](https://www.w3.org/TR/vocab-dcat/#Class:Dataset): A collection of data, published or curated by a single agent, and available for access or download in one or more representations.
      - [**Distribution**](https://www.w3.org/TR/vocab-dcat/#Class:Distribution): A specific representation of a dataset. A dataset might be available in multiple serializations that may differ in various ways, including natural language, media-type or format, schematic organization, temporal and spatial resolution, level of detail or profiles (which might specify any or all of the above). 

I think that we should align our terminology with DCAT and check our modelling of which properties belong on datasets and which belong on distributions.

DCAT's note on distributions is quite informative:

> ... the question of whether different representations can be understood to be distributions of the same dataset, or distributions of different datasets, is application specific. Judgement about how to describe them is the responsibility of the provider, taking into account their understanding of the expectations of users, and practices in the relevant community. ([source](https://www.w3.org/TR/vocab-dcat/#Class:Distribution))


For `period` (wherever it ends up sitting), we should consider a more structured model for this field, e.g. an object with `.start` and `.end` properties. That would make it easier for users and tools to filter for datasets covering a specific year.

DCAT has a [temporal coverage property](https://www.w3.org/TR/vocab-dcat/#Property:dataset_temporal) and [Period of Time class](https://www.w3.org/TR/vocab-dcat/#Class:Period_of_Time) whose modelling and naming conventions we can consider reusing.

For `format`, we should consider providing a codelist for this field to make it easier for users and applications to filter by format. One option is to use the [IANA Media Types codelist](https://www.iana.org/assignments/media-types/media-types.xhtml), but we could also look at the approach used in CKAN etc.

DCAT recommends the use of the [media type property](https://www.w3.org/TR/vocab-dcat/#Property:distribution_media_type) over the [format property](https://www.w3.org/TR/vocab-dcat/#Property:distribution_format).

> we're proposing that each dataset can have many versions, each known as a resource

Each dataset can have different files associated with it, each one could be a resource. So resource here is not used for different versions of the dataset, but a set of files- could be a report and xls table of data and a map image which are giving information about the same dataset

I dont jnow whether this was intentional but the use of resource under dataset is the structure used in WB data catalog. I'm not sure where dcat 'distribution' accounts for the different files under our dataset- seems to be different version of the same file again. Does not seem to quite capture our situation - in dataset terms, each of those report, table, map 'resources' would each be a dataset. 
Using dataset structure may make sense from a multiple catalog perspective, but we would have to communicate clearly which maps to  wb data catalog dataset and resource... I think it could be done...

> For period (wherever it ends up sitting), we should consider a more structured model for this field, e.g. an object with .start and .end properties. 

Agreed



> For format, we should consider providing a codelist for this field to make it easier for users and applications to filter by format. 

Makes sense, but looking at IANA lists they are very extensive, can we provide a subswt of these as a codelist of the types we know to be used for risk data? 

Thanks for the feedback @stufraser1 I will respond properly soon, but in the meantime just noting that the DDH's datasets/resources terminology align's with [CKAN's use of the terms](https://docs.ckan.org/en/2.10/user-guide.html#datasets-and-resources) and logging some reference materials that might be useful when reconciling DCAT and CKAN:

* [Challenges of mapping current CKAN metadata to DCAT](https://www.w3.org/2016/11/sdsvoc/SDSVoc16_paper_16)
* [DCAT to CKAN mapping](https://ckanext-dcatdonl.readthedocs.io/en/latest/schema-dcatmapping.html)
* [DCAT in CKAN](https://blog.ukdataservice.ac.uk/dcat-in-ckan/)

# Resources and distributions

@stufraser1 I agree that there's a difference between the semantics of a resource in CKAN and the semantics of a distribution in DCAT. From [Challenges of mapping current CKAN metadata to DCAT](https://www.w3.org/2016/11/sdsvoc/SDSVoc16_paper_16):

>  ...there is no common agreement on how to use resources of datasets in CKAN. On the one hand there is a high number of datasets where resources are published as “distributions” [in DCAT terms] while on the other hand the remaining datasets group resources by other aspects; e.g., a dataset consisting of the resources “air-temperature-2013.csv”, “air-temperature-2014.csv”, “air-temperature-2015.csv”.

Both the CKANEXT-DCATDONL [DCAT to CKAN mapping](https://ckanext-dcatdonl.readthedocs.io/en/latest/schema-dcatmapping.html) and the [Project Open Data field mappings](https://resources.data.gov/resources/podm-field-mapping/#field-mappings) essentially ignore the semantic difference and map a DCAT distribution to a resource in CKAN.

## Examples

In practice, both the World Bank Data Catalog and data.gov treat resources and distributions as equivalent.

### World Bank Data Catalog

Items in the `resources` array have a scalar `.distribution` property.

[HTML page](https://catalog.data.gov/dataset/national-student-loan-data-system:)

Metadata extract:

```json
{
  "name": "Spatial Inequalities",
  "resources": [
    {
      "name": "Spatial Inequality Database",
      "distribution": {
        "url": "https://datacatalogfiles.worldbank.org/ddh-published/0064524/DR0091539/inequality%20GMD%20World%20Bank.xlsx?versionId=2023-05-22T17:13:22.2930786Z"
      }
    },
    {
      "name": "Accompanying paper ",      
      "distribution": {
        "url": "https://datacatalogfiles.worldbank.org/ddh-published/0064524/DR0091540/Spatial%20Inequalities.pdf?versionId=2023-05-22T17:13:28.7892879Z"
      }
    }
  ]
}
```

### data.gov

Items in the `distribution` array appear as 'resources' on dataset's HTML page.

[HTML page](https://datacatalog.worldbank.org/search/dataset/0064524/Spatial-Inequalities):

Metadata extract:

```json
{
  "title": "National Student Loan Data System",
  "distribution": [
    {
      "description": "Federal School Code List",
      "downloadURL": "https://ifap.ed.gov/fedschcodelist/attachments/1617FedSchoolCodeList.xlsx"
    },
    {
      "description": "2009-2010 Award Year FFEL Q1 Quarterly Activity",
      "downloadURL": "https://studentaid.ed.gov/sa/about/data-center/student/title-iv/sites/default/files/fsawg/datacenter/library/FL_Dashboard_AY2009_2010_Q1.xls"      
    }
  ]
}
```

## Terminology and properties

Given the above context, I'm not sure it really matters whether we go with 'resource' or 'distribution'. Either will differ from its meaning in DCAT. However, looking at the properties proposed in the issue description, with the exception of `period` and `coordinate_system`, they map to properties of distribution in DCAT. Therefore, I'd lean towards aligning with that terminology. 

### Period

Period belongs to dataset in DCAT (temporal coverage). However, I see that it would be pretty common for resources/distributions to have different temporal coverage, like in the  “air-temperature-2013.csv”, “air-temperature-2014.csv”, “air-temperature-2015.csv” example above so it seems OK to have this field on a resource/distribution in RDLS. I suggest aligning the field's name and description with DCAT, though:

| Field | Title | Description |
| -- | -- | -- |
| `temporal` | Temporal coverage |  The temporal period that the distribution covers. |

### Horizontal resolution

I would align `horizontal_resolution` with DCAT:

| Field | Title | Description |
| -- | -- | -- |
| `spatialResolution` | Spatial resolution |  The minimum spatial separation resolvable in the distribution, measured in meters. |

### Coordinate system

DCAT [recommends](https://www.w3.org/TR/vocab-dcat/#quality-conformance-statement) using the conformsTo property to specify the coordinate reference system used in a distribution.

> > For format, we should consider providing a codelist for this field to make it easier for users and applications to filter by format.
> 
> Makes sense, but looking at IANA lists they are very extensive, can we provide a subswt of these as a codelist of the types we know to be used for risk data?

I think that `mediaType` should support the full IANA codelist, but we can provide a subset of human-readable file formats as an open codelist for `format`, e.g. 'GeoJSON', 'CSV', 'XLSX' etc.

> Given the above context, I'm not sure it really matters whether we go with 'resource' or 'distribution'. Either will differ from its meaning in DCAT. However, looking at the properties proposed in the issue description, with the exception of `period` and `coordinate_system`, they map to properties of distribution in DCAT. Therefore, I'd lean towards aligning with that terminology.
> ###

https://github.com/GFDRR/rdl-standard/issues/58#issuecomment-1566330429 proposes a `RelatedResource` definition so, to avoid confusion, I think that we should go with `distribution` rather than `resource` for this issue.

To summarise what I think is being suggested, I have detailed below the fields that will be within the resource object. I think we should continue to name it `resources` as opposed to  `distribution` which I suspect may cause confusion to users. It would be good to hear Stuart and Mattia's thoughts on this? I have the same concerns with `conformsTo` as opposed to `coordinate system`.

## Resources object

Title | Field name | Description | Type | Codelist
| ------------- | ------------- | ------------- | ------------- | ------------- |
Resource identifier  | `id` | An identifier for this dataset version. This should be internally unique. | string | 
Resource title  |  title` | A title for this dataset. | string | 
Resource description  | `description` | Additional description of the dataset version not already covered by the other resource fields. | string | 
Resource media type  | `media_type` | The media type of the distribution | string | Shortened IANA codelist - need to decide
Spatial resolution  | `spatial_resolution` | The minimum spatial separation resolvable in the distribution, measured in meters | string | 
Reference coordinate system  | `coordinate_system` | The reference co-ordinate system of the dataset version, using the EPSG codelist (https://epsg.org). | string | EPSG codelist
Url  | `url` | The web address the dataset version can be downloaded from. | uri | 
Resource period  | `period | The period of time covered by this dataset version given as a year or range of years. | object | 

## Temporal Object

Agree that we should create a period object called temporal object to align DCAT, see the [following comment](https://github.com/GFDRR/rdl-standard/issues/67#issuecomment-1566337152) 


Title | Field name | Description | Type 
| ------------- | ------------- | ------------- | ------------- | 
Temporal coverage | `temporal` | The temporal period that the dataset covers. | object
Start year | `start_year` | The year in which the period begins. | number 
End year |  `end_year` | The year in which the period ends. | number 


* `resource` vs `distribution`: let's wait to hear from @stufraser1 and @matamadio. Once decided, we should update all the field descriptions to use the preferred term, replacing 'dataset' and 'dataset version'. The description of the object itself can explain the meaning of the term.
* `id`: The identifier must be locally unique in order to support flattening so I would change the description to:

> A locally unique identifier for the resource.

* `media_type`: my suggestion in https://github.com/GFDRR/rdl-standard/issues/54#issuecomment-1566310558 was to have both `media_type` (the full IANA codelist) and `format` (a shorter codelist of human-readable format descriptions).
* `spatial_resolution`: type should be number
* `coordinate_system`: Given that we don't have another use for `conformsTo`, sounds good to have an explicit field for this. However, I think the proper term is 'coordinate reference system', rather than 'coordinate system' or 'reference coordinate system'  so I would name the field `crs` and update the title and description accordingly.
* `period`:
  * the field on the resource object should be named `temporal`.
  * @stufraser1 @matamadio is it possible for only the start and end years to be known or could we replace `start_year` and `end_year` with `start` and `end` fields containing full dates?

- **resource vs distribution:** to me, `resource` fits better for the individual datasets within the main "Dataset" page.
- `spatial_resolution`, `coordinate_system`: these would be non-mandatory since they only apply to spatial data
- `start` and `end` could refer to day, month, year... But we can also have an individual year. E.g. Population layer for 2019; then user would enter the same `start` and `end`?

Agree on the rest of proposal.

>     * `start` and `end` could refer to day, month, year... E.g. agricultural damage for first crop season of 2010. But we can also have an individual month/year. E.g. Population layer for 2019;  then user would enter the same `start` and `end`?

In that case, to avoid a proliferation of potentially contradictory fields, I think it would be better to just have `.start` and `.end` and to allow them to be expressed as years, months or dates using a subset of ISO8601:

* Year: YYYY
* Month: YYYY-MM
* Day: YYYY-MM-DD

In terms of validation, we can either author a regex for the [`pattern` keyword](https://json-schema.org/understanding-json-schema/reference/string.html#id6) or a custom [format](https://json-schema.org/understanding-json-schema/reference/string.html#format) and associated format validator. I think that a regex is preferable as it will be compatible with any validation tooling with support for JSON Schema, but some extra work will be required to make error messages user-friendly.

Regarding the example of a population layer for 2019, if no more detail on the exact dates is known, then both `.start` and `.end` should be set to '2019'. We provide guidance in the field description or documentation.

Oasis use a file format 'custom binary' - is this within IANA codelist?

Can you point me in the direction of any documentation about the format or an example of a file in that format? I can only find one mention of it (in https://oasislmf.org/news/oasis-newsletter-2021-q34).

@duncandewhurst please take a look at some of the files here https://github.com/OasisLMF/OasisPiWind/tree/master/model_data/PiWind

Unless OASIS have registered their own MIME type, I believe that the correct MIME type would be `application/octet-stream` per [RFC2046 section 4.5.1](https://datatracker.ietf.org/doc/html/rfc2046#section-4.5.1):

> The "octet-stream" subtype is used to indicate that a body contains arbitrary binary data

No Oasis hasn't registered any MIME types.

closed by https://github.com/GFDRR/rdl-standard/pull/102